body {
    font-family:arial, verdana, helvetica, sans-serif;
    font-size:14px;
    cursor:default;
    color:#000000;
    padding:0px;
    left-margin:30px;
    background-color:#eeeeee
}
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
html {
    width:90%;
    /*height:100%;*/
    align:center;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:1px;
    padding:14px;
    background-color:#111111
}
#container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #000000;
	color:#AAAAAA;
}
#header {
    width:100%;
    padding-top:0px;
    background-color:#000000
}
.spacer {
	/*width:100%;*/
    height:9px;
}
#header a {
    color:#8DA69A;
    text-decoration:none;
    background-color:#eeeeee;
}
#header a:hover {
    color:#816F9A;
    background-color:#eeeeee;
    text-decoration:underline;
}

/*hr {
    border:0px;
    color:#7994A4;
    background-color:#eeeeee;
    height: 10px;
    width: 100%;
    text-align: center;
}*/

h1 {
	font-size:32px;
	color:#017e98;
	background-color:#eeeeee;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:800;
	padding:0px;
	padding-bottom:8px;
}
h2 {
	font-size:16px;
	color:#017e98;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:900;
	background-color:#111111;
	padding:0px;
	padding-bottom:6px;
	padding-top:6px;
}

h3 {
    color:#000000;
    /*color:#8DA69A;*/
    font-size:16px;
    background-color:#eeeeee;
    font-weight:300;
    padding:10px;
}
#err{
    padding:20px;
    }
#maincontent {
    width:80%;
    color:#000000;
    margin-left:10px;
    background-color:#eeeeee;
    padding:10px;
}

#maincontent a {
    color:#0179d5;
    /*color:#3d9da1;*/
    background-color:#eeeeee;
    text-decoration:none;
}

#maincontent p {
    margin-top: 10px;
	margin-left: 0px;
	padding:0px;
	padding-bottom:10px;
}
#maincontent ul {
    list-style-position:inside;
    margin-top: 0px;
    margin: 10px;
    padding:10px;
    padding-bottom:10px;
}

#maincontent ul li{
    margin-top: 0px;
    margin: 0px;
    padding:0px;
    padding-bottom:10px;
}

#maincontent a:hover {
    color:#0179d5;
    background-color:#eeeeee;
    font-weight:bold;
    text-decoration:underline;
}
#footer {
	clear:both;
	width:750px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#footer a {
	color:#AAAAAA;
	background-color:#FFFFFF;
	text-decoration:none;
}
#footer a:hover {
	color:#AAAAAA;
	background-color:#FFFFFF;
	text-decoration:underline;
}

blockquote {
	margin:0px 0px 0px 0px;
	padding:0px;
	color:#000000;
	padding: 10px 0px 10px 0px;
}
